.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  font-size: 25px;
  border-bottom: solid 2px;
  color: rgb(0, 0, 0);
}

.container{
  margin-left: 50px;
  margin-right: 50px;
}

.logo{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
