.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background: #ffeded;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  font-size: 25px;
  border-bottom: solid 2px;
  border-color: #bd3623;
}

.container{
  margin-left: 50px;
  margin-right: 50px;
}

.logo{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.login, .welcome{
  padding: 10px;
  margin-right: 25px;
}

.login {
  font-size: 25px;
  padding-top: 30px;
}

.welcome p{
  display: inline-block;
  margin-right: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
